body {
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

#title {
    float: left;
    color: black;
}

/*navigation links*/

#nav {
    font-size: 100%;
    letter-spacing: 4px;
}

#title, #nav {
    line-height: 70px;
    padding-left: 15px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav a:hover{
    color: white;
    background-color: black;
}

.active {
    background-color:rgb(201, 201, 201);
}

#nav a {
    text-decoration: none;
    border: 1px solid black;
    color: inherit;
}

/*hero image*/

.img-fluid{
    width: 100%;
    height: auto;
    background-color: black;
}

/* section1 style rules*/

#section1 {
    width: 100%;
    height: 600px;
    background-color: black;
    text-align: center;
    position: relative;
}

#section1,p h2{
    color: white;

}

#section1-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* section2 style rules */

#section2 {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

#section2-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* section3 style rules */


#section3-background {
    background-color: black;
}

#section3 {
    width: 100%;
    height: 600px;
    background-color: black;
    text-align: center;
    position: relative;
}

#section3,p h2{
    color: white;
}

#section3-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/*footer*/

footer {
    bottom: 0;
    width: 100%;
    height: 70px;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
    margin: 1%;
    padding: 5%;
}

footer a {
    color: white;
    font-size: 35px;
    margin: 1%;
    padding: 6%;
}

footer a:hover {
    color: grey;
}

/* video section */

#vid-section{
    height: 600px;
}

#vid {
    margin-top: 35px;
    height: 500px;
    margin-bottom: 45px;
}

iframe {
    width: 60%;
    height: 96%;
}

@media only screen and (max-width: 1800px){
    #contact-section {
        padding: 20px;
        display: block;
    }
}

@media only screen and (max-width: 600px){
	iframe {
        width: 80%;
        height: 96%;
    }

    footer a {
        font-size: 25px;
    }



    header, ul, li {
        display: inline-block;
    }


}

@media only screen and (max-width: 470px){
	#section3 {
        height: 1000px;
    }

    footer a {
        font-size: 20px;
    }

    .contact-section {
        width: 65%;
        margin-right: 10px;
    }

}

@media only screen and (max-width: 370px){

    footer a {
        font-size: 15px;
    }

    #section1 {
        height: 750px;
    }

    #section2 {
        height: 800px;
    }

}