*{
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: sans-serif;
    color: black;
}


/*title*/

#title {
    float: left;
    color: black;
}

/*navigation links*/

#nav {
    font-size: 110%;
    letter-spacing: 4px;
}

#title, #nav {
    line-height: 70px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}


#nav a:hover{
    color: white;
    background-color: black;
}

.active {
    background-color:rgb(201, 201, 201);
}

#nav a {
    text-decoration: none;
    border: 1px solid black;
    color: inherit;
}

/*hero image*/

#hero-image {
    height: 800px;
    width: 100%;
    background: no-repeat center center;
    overflow: hidden;
}

/* information about the launch*/

#launch {
    width: 100%;
    height: 600px;
    background-color: black;
}

#launch,p h2{
    color: white;
}

#launch-img {
    width: 45%;
    float: left;
    padding-top: 55px;
    padding-left: 45px;
}

#launch-info {
    width: 45%;
    float: right;
    padding-top: 55px;
    padding-right: 45px;
    font-size: x-large;
}

/* information about seperation */

#seperation {
    width: 100%;
    height: 600px;
}

#seperation-img {
    width: 45%;
    float: left;
    padding-top: 55px;
    padding-left: 45px;
}

#seperation-info {
    width: 45%;
    float: right;
    padding-top: 55px;
    padding-right: 45px;
    font-size: x-large;
}

/* landing section */

#landing {
    width: 100%;
    height: 600px;
    background-color: black;
}

#landing,p h2{
    color: white;
}

#landing-info {
    width: 45%;
    float: right;
    padding-top: 55px;
    padding-right: 45px;
    font-size: x-large;
}

#landing-img {
    width: 45%;
    float: left;
    padding-top: 55px;
    padding-left: 45px;
}

/* landing video */

#vid-section {
    width: 100%;
    height: 600px;
}

#vid {
    margin-top: 45px;
    margin-left: 25%;
}

/*footer*/

footer {
    bottom: 0;
    width: 100%;
    height: 175px;
    background: black;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
    font-size: x-large;
    margin: 1%;
    padding: 5%;
}

footer a {
    color: white;
    font-size: 210%;
    margin: 1%;
    padding: 6%;
}

/* header */ 

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

/* contact */

.contact-section {
    width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 75px;
}

.contact-section h2 {
    font-size: 200%;
}

#name, #email, #subject,  #message {
    border: 1px solid black;
    width: 500px;
}

#name, #email, #subject {
    height: 40px;
    font-size: 120%;
}

#message {
    font-size: 150%;
}